{% extends "base.html" %}

{% block content %}
<!-- {{ object.order_id }} -- {{ object.cart }} -->
{% if not billing_profile %}
Vă rugăm să intrați în cont
<a href="{% url 'login' %}">Login</a>
or 
<div class="col-12 col-md-6">
    Continuați ca oaspete
    {% url 'guest' as guest_register_url %}
    {% include "guestform.html" with form=guest_form next_url=request.build_absolute_url action_url=guest %}
</div>

{% else %}

    {% if not object.shipping_address %}
    {% url 'address' as address %}      
    {% include "address.html" with form=address_form next_url=request.build_absolute_url action_url=address %}
    {% else %}
            <h1>Achitare</h1>

            <p>Telefoane: {{ object.cart.total }}</p>
            <p>Total cu livrare: {{ object.shipping_total }}</p>
            <p>Total: {{ object.total }}</p>
            <button type="submit">Comandă</button>
    {% endif %}
{% endif %}


{% endblock content %}