{% extends "base.html"  %}
{% load static %}
{% block content %}

<div class="col-12 text-center" >
  
  <img class="img" style="width:300px" src="{% static 'img/logo.png' %}" alt="cart">
  <p class="mx-5">Bun venit la PhonesMD - destinația ta pentru cele mai noi și performante telefoane mobile! Descoperă o gamă variată de dispozitive de ultimă generație și accesorii de înaltă calitate. Cu o echipă informată și pasionată, suntem aici să îți oferim experiența completă de cumpărare. Găsește telefonul perfect și accesorii elegante în magazinul nostru online. La PhonesMD, tehnologia devine accesibilă și satisfăcătoare. Te așteptăm să descoperi lumea noastră, unde tehnologia se întâlnește cu încrederea!</p>
</div>

  {% endblock content %}
